@model WebLog.Models.Entities.Usuario
@{
    ViewData["Title"] = "Cadastro";
    string msg = ViewBag.Message;
    List<WebLog.Models.Entities.ListUsuarios> user = ViewBag.List;   
}

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#colCad" role="button" aria-expanded="false" aria-controls="collapseExample">Adicionar Novo Usuario</a>
    <a class="btn btn-primary" data-toggle="collapse" href="#colList" role="button" aria-expanded="true" aria-controls="collapseExample">Lista de Usuarios</a>
</p>
@{
    if (!string.IsNullOrEmpty(msg))
    {
        <div class="alert alert-success fade show" id="success-alert" style="margin-top: 40px;">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>@ViewBag.Message</strong>
        </div>
    }
}
<div class="collapse" id="colCad">
    <div class="card card-body">
        <h3>CADASTRO</h3>
        <hr />
        <form asp-action="Cadastro" asp-controller="Home" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input name="txtEmail" type="email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Senha</label>
                <input name="txtpass" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div class="collapse" id="colList">
    <div class="card card-body">
        <h3>LISTA DE USUARIOS</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Idade
                    </th>
                    <th>
                        CPF
                    </th>
                    <th>
                        Email
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in user)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Idade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CPF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" onclick="EditarUsuario(@item.idUser);" data-target="#editModal">
                                Editar
                            </button>
                            @Html.ActionLink("Deletar", "Deletar", new { id = item.idUser }, new { @class = "btn btn-danger", @onclick = "return confirm('Deseja realmente excluir este produto?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">    
                <div class="col">
                    <form method="post" action="@Url.Action("Editar", "Home")" id="form_editar">
                        <input type="hidden" name="json" />
                        <input type="hidden" id="pegaId" name="txtId"/>

                        <div class="form-group">
                            <label class="control-label">Nome</label>
                            <input id="editNome" name="txtNome" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Idade</label>
                            <input id="editIdade" name="txtIdade" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">CPF</label>
                            <input id="editCpf" name="txtCpf" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input id="editEmail" name="txtEmail" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Senha</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <input type="button" class="input-group-text" id="btnExibir" value="Exibir">
                                </div>
                                <input type="password" id="editSenha" name="txtSenha" class="form-control" />
                            </div>                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <input type="submit" class="btn btn-success" value="Atualizar">
                        </div>
                    </form>
                </div>                
            </div>          
        </div>
    </div>
</div>


<script>
    //Metodo que pega os dados de um controler sem atualizar a pagina
    function EditarUsuario(idUsuario) {
        $.post('@Url.Action("PreecheEditar", "Home")', { id: idUsuario }, function (dadosUsuario) {
            $('#editNome').val(dadosUsuario.nome);
            $('#editIdade').val(dadosUsuario.idade);
            $('#editCpf').val(dadosUsuario.cpf);
            $('#editEmail').val(dadosUsuario.email);
            $('#editSenha').val(dadosUsuario.senha);
            $('#pegaId').val(dadosUsuario.idUser);
        });        
    

        //Pega os dados do form e convert para json
        function getFormJson($form) {
            var propValue = $form.serializeArray();
            var result = {};
            $.map(propValue, function (prop, i) {
                result[prop['name']] = prop['value'];
            });
            return JSON.stringify(result);
        }
 
        $('#form_editar').find('input[type="submit"]').click(function (e) {
            e.preventDefault();
            $('#form_editar').find('input').blur();

            if ($('#editNome').val() === "" || $('#editIdade').val() === "" || $('#editCpf').val() === "" || $('#editEmail').val() === "" || $('#editSenha').val() === "") {
                alert("Preenche todos os campos!");
                return null;
            }
            $('input[name="json"]').val(getFormJson($('#form_editar')));
            $('#form_editar').submit();
        });

        $('#btnExibir').on('click', function () {            
            var txtSenha = $('#editSenha');

            if (txtSenha.attr('type') == 'password') {
                txtSenha.attr('type', 'text');
                $('#btnExibir').val('Ocultar');
            }
            else {
                txtSenha.attr('type', 'password');
                $('#btnExibir').val('Exibir');
            }
        });  
    }
</script>
